@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #2D93AD;
    --secondary-color: #3BB273;
    --accent1-color: #FDFCDC;
    --accent2-color: #F07167;

    --heading-font: "Hedvig Letters Serif", serif;
    --paragraph-font: Roboto, "Sans Serif";

    --nav-background-color: #FDFCDC;
    --nav-link-color: #F07167;
    --nav-hover-link-color: #2D93AD;
    --nav-hover-background-color: #3BB273;
}

body {
    max-width: 1000px;
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: #1d1f1eb9;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    color: #d3dad6d5;
}

.hero article {
    position: absolute;
    top: 220px;
    left: 50px;
    width: 90%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    width: 300px;
    float: right;
    padding: 0 0 0 40px
}

article p {
    padding: 20px;
    color: azure;
}

article {
    background-color: rgba(24, 27, 24, 0.582);
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: #525a5c;
}

header img {
    width: 80%;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1em
}

nav a:hover {
    color: #525a5c;
    background-color: white;
}

.history {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 20px;
    justify-items: center;
}

.history h2 {
    grid-column: 1/-1;
    text-align: center;
}

.history img {
    width: 100%;
    height: auto;
    grid-column: 6/8;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    justify-items: center;
    width: 100%;
}

.adventure h2 {
    grid-column: 1/6;
}

figure img {
    max-width: 100%;
    height: auto;
}

figure {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
}

.sociallinks {
    justify-items: end;
    padding: 20px;
}

.sociallinks a,
.sociallinks a:hover {
    background-color: unset;
    text-decoration: none;
}

.sociallinks a img {
    width: 45px;
}

.left {
    grid-column: 1/6;
    padding: 20px;
}

.right {
    grid-column: 8/-1;
    padding: 20px;
}

.happy_employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    padding: 0px;
    justify-items: center;
    max-width: 100%;
}

.happy_employees h1 {
    grid-column: 1/4;
}

.happy_employees figure img {
    max-width: 100%;
    height: auto;
}

.happy_employees {
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

form div {
    display: grid;
    padding: 10px;
}

label {
    text-align: left;
    padding-left: 0.5rem;
}

input, select, textarea {
    padding: 0.5rem;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background: darkgreen;
}

h1 {
    text-align: center;
}

.type_inquiry {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding-left: 0.5rem;
    max-width: 100%;
    text-align: left; 
    gap: 5px
}

.type_inquiry p {
    grid-column: 1/-1;
    padding-left: 0.5rem;
    margin-bottom: 5px;
}

.subscription {
    display: flex;
}

.office_info {
    display: flex;
    max-width: 100%;
    margin: 50px;
}

iframe {
    width: 450px;
    height:450px;
    margin: 10px;
    border: none;
}